{% extends 'bbs/page.html' %}
{% load wagtailuserbar %}
{% block content %}
{% wagtailuserbar %}
    <div class="container blog">    

    

    <div class="list-group">        
        {% for blog in blogs %}
            {% include "blog/includes/blog_list_item.html" %}
        {% empty %}
            Es existieren keine Blogeinträge
        {% endfor %}
    </div>

    {# Pagination - uses django.core.paginator #}
    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-4 previous">
            {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Zurück</a>
            {% endif %}
        </div>
        <div class="col-sm-4 pages">
            Seite {{ blogs.number }} von {{ blogs.paginator.num_pages }}
        </div>
        <div class="col-sm-4 next">
            {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Weiter</a>
            {% endif %}
        </div>
    </div>    
</div>
{% endblock %}